   body {
            font-family: 'Karma';
            background-color: #fff8e7;
            margin: 0 ;
            padding: 0;
            transition: background-color 0.3s, color 0.3s;
        }
        body.dark-mode {
            background-color: #000000;
            color: #fff;
        }
        header {
            background-color: #fff8e7;
            color: #800020;
            background-size: cover;
            background-position: center;
            height: auto; /* Make it full screen */
            width: auto; /* Make it full screen */
            padding:20px;
            display: flex;
            flex-direction: column;
            justify-content: bottom;
            align-items: left;
            text-align: left;
            transition: background-color 0.3s, color 0.3s;
        }
        header.dark-mode {
            background-color: #000000;
            color: #fff8e7;
        }
        a { 
            text-decoration: none; 
            color: #800020;
            transition: background-color 0.3s, color 0.3s;
          }

        a.dark-mode {
            color: #3ded97;
        }
        
        hr {
             border: 1px solid #800020;
        }
        hr.dark-mode {
            border: 1px solid green;
        }
        
        h1 {
            font-size: 36px;
        }
        h2 {
            font-size: 24px;
        }
        p {
            font-size: 18px;
            margin: 20px 0;
        }
        .container {
            max-width: 800px;
            background-color: transparent;
            margin: 0 auto;
            padding: 20px;
            transition: background-color 0.3s, color 0.3s;
        }
        .container.dark-mode {
            background-color: black;
            color: #fff8e7;
        }
        .dark-mode-button {
            position: fixed;
            top: 20px;
            right: 20px;
            font-size: 30px;
            background-color: transparent;
            color: #fff8e7;
            border: none;
            padding: 0px 0px;
            cursor: pointer;
        }
        .icon-link {
            color: #800020; /* Color for icon buttons */
            font-size: 30px;
            margin-right: 10px;
            text-decoration: none;
        }

        .icon-link.dark-mode {
            color: #fff8e7;
        }
