body {
    font-family: 'Karma';
    background-color: #fff8e7; 
    margin: 0;
    padding: 0;
    color: black;
}

body.dark-mode {
    background-color: #181818; 
    color: #964a7a; /* heading of the page content*/ 
}

::selection {
  background-color: #4B0082;
  color: #ffffff;
}

body.dark-mode ::selection {
  background-color: #4B0082;
  color: #ffffff; 
}

header {
    background-color: #fff8e7; 
    color: #800020; 
    padding: 20px 0;
}

header.dark-mode {
    background-color: #181818;
    color: transparent;
}

.header-content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 800px; 
    margin: auto;
    padding: 0 20px;
}

.title {
    font-size: 40px;
    text-decoration: none;
    color: #800020;
    font-weight: bold;
}

.pages {
    display: flex;
    gap: 50px;
    font-size: 25px;
}

.pages a {
    text-decoration: none;
    color: #800020;
    font-weight: bold;
}


.dark-mode-button {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    background-color: transparent;
    color: #800020;
    border: none;
    padding: 0;
    cursor: pointer;
}

.dark-mode-button i {
    font-size: 30px;
}

.dark-mode-button.dark-mode{
    color: white;
}

.top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    color: #800020;
    font-size: 30px;
    background-color: transparent; 
    border: none;
    padding: 0;
    cursor: pointer;
}

.top-button i {
    font-size: 30px;
}

.top-button.dark-mode{
    color: #fff8e7;
}

header.dark-mode .title,
header.dark-mode .pages a {
    color: #5ab590;
}

/* Mobile-specific styling */
@media (max-width: 1000px) {
    .header-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .pages {
        margin-top: 10px;
        font-size: 20px;
    }
}

a {
    text-decoration: none;
    color: #800020;
}

a:hover {
    background-color: rgba(255, 82, 82, 0.2); 
}

a.dark-mode {
    color: #5ab590; 
}

a.dark-mode:hover {
    background-color: rgba(255, 239, 204, 0.2); 
}

hr {
    border: 1px solid #800020; 
}

hr.dark-mode {
    border: 1px solid #cccccc;
}

h1 {
    font-size: 36px;
    color: black;
}

h1.dark-mode {
  color: #964a7a;
}

h2 {
    font-size: 24px;
    color: black;
}

h2.dark-mode {
  color: #964a7a;
}

h3,h4,h5,h6 {
  color: black;
}

h3.dark-mode, h4.dark-mode, h5.dark-mode, h6.dark-mode  {
  color: #964a7a;
}

p {
    font-size: 18px;
    margin: 20px 0;
}

.table-container {
    width: 100%;
    overflow-x: auto; 
}

/* Keep your existing table styles */
table {
    border-collapse: collapse; 
    width: 100%; 
}

th, td {
    border: 2px solid; 
    padding: 8px;
    color: black;
    background-color: transparent; 
    text-align: justify;
}


th.dark-mode 
        {
            color: #a4a4a4;  
        }

td.dark-mode 
        {
            color: #a4a4a4;  
        }

.container {
    max-width: 800px;
    background-color: transparent;
    margin: 0 auto;
    text-align: justify;
    padding: 20px;
}

.container.dark-mode {
    background-color: transparent; 
    color: #a4a4a4; 
}


.icon-link {
    color: #800020;
    font-size: 30px;
    margin-right: 10px;
    text-decoration: none;
}

.icon-link.dark-mode {
    color: #fff8e7; 
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    overflow: hidden; 
    float: left; 
    margin-right: 10px; 
    margin-bottom: 10px; 
}

.circle img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}

.collapsible {
            background-color: transparent;
            color: #800020;
            cursor: pointer;
            padding: 5px 0px;
            width: 100%;
            text-align: left;
            border: none;
            outline: none;
            font-size: 20px;
            font-family: 'Karma';
        }
.collapsible:hover {
    background-color: rgba(255, 82, 82, 0.2);
}

.collapsible.dark-mode {
    color:#fff8e7;
}

.collapsible.dark-mode:hover {
    background-color: rgba(255, 239, 204, 0.2);
}

.content {
            padding: 0px;
            display: none; 
            overflow: hidden;
            background-color: transparent;
            margin-top: 0px;
        }
